body{
  background-color:#E64398;
  color: #FOEBF4;
}

#MainHeader{
  background-color: #F172A1;
  border-radius: 50px;
}

h1{
  font-family: 'Coustard', serif;
  font-size: 50px;
  color: white;
  text-align: center;
  margin-left: 290px;
}

#MainHeader-img{
padding-left: 50px;
}

#NavBar{
  margin-top: 10px;
  background-color: #B39BC8;
  border-radius: 30px;
}

#NavBar-List{
  list-style: none;
  margin:0;
  padding:0;
  overflow: hidden;
  color: white;
}

#NB1, #NB2, #NB3{
  font-family: 'Coustard', serif;
  float: left;
  display: block;
  padding: 20px 22px;
}

#NB1{
  margin-left: 50px;
}

#NB1:Hover, #NB2:Hover, #NB3:Hover{
  background: #d7cae2;
}

a{
  color: white;
  text-decoration: none;
}

#AboutMeTxt{
  font-family: 'Coustard', serif;
  color: white;
  background-color: #F172A1;
  margin-left: 100px;
  border-radius: 50px;
}

#AboutMe{
  margin-top: 50px;
}

#AB2{
  margin-left: 100px;
  margin-right: 150px;
}

.AM{
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 60px;
  background-color: #d7cae2;
}

#Am2{
  font-family: 'Coustard', serif;
  font-weight: lighter;
  text-align: center;
  color: white;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 40px;
  padding-bottom: 30px;

  background-color: #B39BC8;
  border-color: white;
  border-width: 0px;
  border-radius: 120px;
  border-style: solid;
}

#Am1{
  background-color: #B39BC8;
  border-radius: 100px;
  padding-right: 50px;
  padding-left: 20px;
}

#Img1{
  border-radius: 100px;
}
