body{
  background-color:#E64398;
  color: #FOEBF4;
}

#MainHeader{
  background-color: #F172A1;
  border-radius: 50px;

  border: 2px solid white;
}

h1{
  font-family: 'Coustard', serif;
  font-size: 50px;
  color: white;
  text-align: center;
  margin-left: 290px;
}

#MainHeader-img{
padding-left: 50px;
}

#NavBar{
  margin-top: 10px;
  background-color: #B39BC8;
  border-radius: 30px;

  border: 2px solid white;
}

#NavBar-List{
  list-style: none;
  margin:0;
  padding:0;
  overflow: hidden;
  color: white;
}

#NB1, #NB2, #NB3{
  font-family: 'Coustard', serif;
  float: left;
  display: block;
  padding: 20px 22px;
}

#NB1{
  margin-left: 50px;
}

#NB1:Hover, #NB2:Hover, #NB3:Hover{
  background: #d7cae2;
}

.AppDevHeader{
  margin-top: 50px;
  font-family: 'Coustard', serif;
  color: white;
  text-align: center;
  font-size: 20px;

  background-color: #F172A1;
  padding: 1px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 50px;

  border: 2px solid white;
}

.CodingVsGuiTable{
  margin-top: 50px;
  background-color: #d7cae2;
  border-radius: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Coustard', serif;
  color: white;

  border: 2px solid white;
}

#CodingVsGuiTableHeading, #CodingVsGuiTableDescription, #CodingVsGuiTableHere, #CodingVsGuiTableList{
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 0PX;

  margin-top: 50px;
  background-color: #B39BC8;
  border-radius: 20px;
  font-family: 'Coustard', serif;
  font-size: 18px;
  color: white;
  text-align: center;

  border: 2px solid white;
}

#CodingVsGuiTableHeading{
font-size: 25px;

border: 2px solid white;
}

th, td{
  border-radius: 15px;
}

.ResourcesHeader{
  margin-top: 50px;
  font-family: 'Coustard', serif;
  color: white;
  text-align: center;
  font-size: 20px;

  background-color: #F172A1;
  padding: 1px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 50px;

  border: 2px solid white;
}

.ResourcesTable{
  margin-top: 50px;
  background-color: #d7cae2;
  border-radius: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Coustard', serif;
  color: white;

  border: 2px solid white;
}

#ResourcesTableHeading, #Resources1st, #Resources2nd, #Resource3rd{
  margin: 20px;
  background-color: #B39BC8;
  border-radius: 20px;
  font-family: 'Coustard', serif;
  font-size: 18px;
  color: white;
  text-align: center;

  border: 2px solid white;
}

#ResourcesHeader{
font-size: 50px;

border: 2px solid white;
}

a{
  color: white;
  text-decoration: none;
}

#ADH1, #RH1{
  border: 2px solid white;
  border-radius: 2px;
}
