body{
  background-color:#E64398;
  color: #FOEBF4;
}

#MainHeader{
  background-color: #F172A1;
  border-radius: 50px;
}

h1{
  font-family: 'Coustard', serif;
  font-size: 50px;
  color: white;
  text-align: center;
  margin-left: 290px;
}

#MainHeader-img{
padding-left: 50px;
}

#NavBar{
  margin-top: 10px;
  background-color: #B39BC8;
  border-radius: 30px;
}

#NavBar-List{
  list-style: none;
  margin:0;
  padding:0;
  overflow: hidden;
  color: white;
}

#NB1, #NB2, #NB3{
  font-family: 'Coustard', serif;
  float: left;
  display: block;
  padding: 20px 22px;
}

#NB1{
  margin-left: 50px;
}

#NB1:Hover, #NB2:Hover, #NB3:Hover{
  background: #d7cae2;
}
