body{
  background-color:#E64398;
  color: #FOEBF4;
}

#MainHeader{
  background-color: #F172A1;
  border-radius: 50px;

  border: 2px solid white;
}

h1{
  font-family: 'Coustard', serif;
  font-size: 50px;
  color: white;
  text-align: center;
  margin-left: 290px;

}

#MainHeader-img{
padding-left: 50px;
}

#NavBar{
  margin-top: 10px;
  background-color: #B39BC8;
  border-radius: 30px;

  border: 2px solid white;
}

#NavBar-List{
  list-style: none;
  margin:0;
  padding:0;
  overflow: hidden;
  color: white;
}

#NB1, #NB2, #NB3{
  font-family: 'Coustard', serif;
  float: left;
  display: block;
  padding: 20px 22px;
}

#NB1{
  margin-left: 50px;
}

#NB1:Hover, #NB2:Hover, #NB3:Hover{
  background: #d7cae2;
}

#HowToTable{
  margin-top: 50px;
}

#HowTo{
  font-family: 'Coustard', serif;
  color: white;
  background-color: #F172A1;
  margin-left: 100px;
  border-radius: 50px;

  border: 2px solid white;
}

#HT1{
  margin-left: 100px;
  margin-right: 150px;


}

.DidYou{

  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 60px;
  background-color: #d7cae2;

  border: 2px solid white;
}

pre{
  font-family: 'Coustard', serif;
  font-size: 20px;
}

#DYL1{
  font-family: 'Coustard', serif;
  font-weight: lighter;
  color: white;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 40px;
  padding-bottom: 30px;

  background-color: #B39BC8;
  border-color: white;
  border-width: 0px;
  border-radius: 120px;
  border-style: solid;

  border: 2px solid white;
}

#DYL2{
  background-color: #B39BC8;
  border-radius: 100px;
  padding-left: 70px;

  border: 2px solid white;

}

#ChooseANicheHeader{
  margin-top: 50px;

}

#ChooseHeader{
  font-family: 'Coustard', serif;
  color: white;
  background-color: #F172A1;
  margin-left: 100px;
  border-radius: 50px;

  border: 2px solid white;
}

#CH{
  margin-left: 100px;
  margin-right: 150px;

  border: 2px solid white;
}

.ChooseANiche{
  margin-top: 50px;
  background-color: #d7cae2;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;

  border: 2px solid white;

}

#CN1, #CN2, #CN3{
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10PX;

  background-color: #B39BC8;
  border-radius: 50px;
  font-family: 'Coustard', serif;
  font-size: 18px;
  color: white;

  border: 2px solid white;

}

#BreakBetweenLeft, #BreakBetweenRight{
  width: 50px;
}

.Break{
  width: 90px;
}

a{
  color: white;
  text-decoration: none;
}
